# 텐서플로우 다중선형회귀 모델링

### Import

In [13]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

### 컬럼명

In [8]:
columns = ["평균기온", "최고온도", "최저온도", "기온고저", "평균습도", "강수량"]

In [9]:
# 경로 설정
products = os.listdir("../DataRefine/거래물량 데이터/정제된 파일")
read_path = "../DataRefine/거래물량 데이터/정제된 파일"

In [10]:
df = pd.read_csv(f"{read_path}/{products[0]}")
df

      평균기온  최고온도   최저온도   기온고저   평균습도    강수량     거래물량
0    -9.20 -3.03 -15.40  12.37  62.83   1.33  2.43000
1    -9.90 -2.80 -17.00  14.20  58.50   1.38  1.27500
2    -9.68 -2.14 -17.22  15.08  57.20   1.40  1.39000
3    -8.93 -1.33 -16.55  15.22  56.33   1.42  1.39000
4    -8.53 -0.81 -16.26  15.44  54.86   1.43  1.54875
...    ...   ...    ...    ...    ...    ...      ...
3089  1.00  9.10  -5.59  14.70  66.56  14.78  4.80542
3090  0.86  8.94  -5.65  14.59  67.05  13.91  4.85012
3091  0.85  8.81  -5.62  14.42  67.16  13.04  4.82448
3092  0.73  8.41  -5.53  13.94  66.61  12.16  4.97581
3093  0.42  8.01  -5.79  13.80  65.23  11.00  5.11219

[3094 rows x 7 columns]

In [29]:
df_x_data = df.drop(['거래물량'], axis=1)
df_y_data = df['거래물량']

df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x_data, df_y_data, test_size=0.3, random_state=20221004)
# df_train, df_test = train_test_split(df, test_size=0.3, random_state=20221004, stratify=df['거래물량'])

In [42]:
print("X 훈련데이터")
print(len(df_x_train), np.mean(df_x_train), sep='\n')
print("Y 훈련데이터")
print(len(df_y_train), np.mean(df_y_train), sep='\n')
print()
print("X 테스트데이터")
print(len(df_x_test), np.mean(df_x_test), sep='\n')
print("Y 테스트데이터")
print(len(df_y_test), np.mean(df_y_test), sep='\n')

X 훈련데이터
2165
평균기온    12.830092
최고온도    19.629774
최저온도     6.531977
기온고저    13.097806
평균습도    66.978000
강수량     54.873150
dtype: float64
Y 훈련데이터
2165
57.05457213394919

X 테스트데이터
929
평균기온    12.555727
최고온도    19.361184
최저온도     6.290172
기온고저    13.071227
평균습도    67.127675
강수량     54.063552
dtype: float64
Y 테스트데이터
929
53.97259765339068